.clear-button{
    height: 70px;
    margin: 3px;
    font-size: 40px;
    display: flex;
    flex: 1;
    background-color: #ac0246;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 35px;
    cursor: pointer;
    user-select: none;
}

.clear-button:hover{
    background-color: orange;
}