*{
  margin: 0;
  padding: 0;
}
.App, body{
  width: 100%;
  height: 100vh;
  padding-top: 6px;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-container{
  height: 60px;
  width: 100%;
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img{
  width:auto;
  height: 60px;
}

.calculator-container{
  width: 440px;
  height: 550px;
  padding: 10px;
  background-color: #99c9ff;
  border: 5px solid white;
  border-radius: 20px;
  
  
  
}

.column{
  margin: 4px;
  display: flex;
  justify-content: center;

}